<!DOCTYPE HTML>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem Absen</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.7/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>


<section class="content">
  <nav class="flex flex-col md:flex-row p-4 justify-between md:items-center gap-4">
    <a href="/"><strong class="font-bold text-xl">SiAbsen</strong></a>
    <div class="flex flex-col md:flex-row gap-4 md:items-center">
      {% if current_user.is_authenticated %}
        {% if current_user.is_superadmin or current_user.is_school_admin %}
          <a href="/admin" class="btn btn-primary">Admin</a>
        {% endif %}

        {% if current_user.is_student %}
          <a href="/attendance" class="btn btn-primary">Attend</a>
        {% endif %}
        <a href="/logout" class="btn btn-error">Logout</a>

      {% else %}
        <a href="/login" class="btn btn-primary">Login</a>
      {% endif %}
    </div>
  </nav>

  <div class="container mx-auto">
    <div class="pb-4">
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="p-4 bg-primary text-primary-content bg-{{category}} text-{{category}}-content rounded-md">{{ message }}</div>
    {% endfor %}
    </div>

    {% block content %}{% endblock %}
  </div>
</section>